---
import "@/styles/common.css"
import site from "@/data/site.json"
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{site.siteName}</title>
  <meta name="description" content={site.description} />
  <meta property="og:site_name" content={site.siteName} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={site.siteName} />
  <meta property="og:description" content={site.description} />
  <!-- <meta property="og:image" content="https://tsumic.yend.dev/img/ogp.png" /> -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:site" content="@yend724" />
  <meta property="twitter:creator" content="@yend724" />
  <!-- <link rel="canonical" href="https://tsumic.yend.dev"> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <div data-wrapper="Top" class="grid grid-cols-1 grid-rows-[auto_1fr_auto]">
    <header class="px-8">
      <div class="relative w-full max-w-4xl mx-auto pt-16 pb-8 text-center">
        <div class="absolute top-0 left-0 w-[3px] h-full bg-slate-600"></div>
        <h1 class="text-2xl font-bold text-center">Creative Coding<br><span class="text-base">の積み木</span></h1>
      </div>
    </header>
    <main class="px-8">
      <div class="mx-auto h-full">
        <div class="relative flex flex-col gap-y-4 max-w-4xl h-full mx-auto pb-16">
          <div class="absolute top-0 left-0 w-[3px] h-full bg-slate-600"></div>
          {
            allPosts.map(async (post)=>{
              const d = new Date(post.frontmatter.date);
              const published = `${d.getFullYear()}.${("00" + (d.getMonth() + 1)).slice(-2)}.${("00" + d.getDate()).slice(-2)}`
              return (
                <article class="relative pl-8">
                  <svg viewBox="0 0 10 10" class="absolute top-4 left-[-3px] text-slate-600 overflow-visible w-[calc(0.5rem+1px)] h-[calc(0.5rem+1px)]">
                    <circle cx="5" cy="5" r="5" stroke="currentColor" class="fill-sky-300" stroke-width="2"></circle>
                  </svg>
                  <a class="block p-2 rounded hover:bg-slate-300/10" href={post.url}>
                    <time class="text-sm text-neutral-400" datetime={published}>{published}</time>
                    <h2 class="mt-2 text-base">{post.frontmatter.title}</h2>
                  </a>
                </article>
              )
            })
          }
        </div>
      </div>
    </main>
    <footer class="px-8">
      <div class="relative w-full max-w-4xl mx-auto flex items-center justify-center h-12">
        <div class="absolute top-0 left-0 w-[3px] h-full bg-slate-600"></div>
        <small>© 2022 YEND</small>
      </div>
    </footer>
  </div>
</body>
</html>
