---
import site from "@/data/site.json"
type Props = {
  title: string;
  description: string;
  canonical: string;
  ogType?: "website" | "article";
}
const { title, description, canonical, ogType = "article" } = Astro.props as Props;
const mode = import.meta.env.MODE;
---
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:site_name" content={site.siteName} />
<meta property="og:type" content={ogType} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://tsumic.yend.dev/img/ogp.png" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:site" content="@yend724" />
<meta property="twitter:creator" content="@yend724" />
<link rel="canonical" href={canonical} />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Lato:wght@400;700&display=swap" rel="stylesheet">
{
  mode === "production" && (
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DVGS2C72KX"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-DVGS2C72KX');
    </script>
  )
}
